<html>
	<head>
		<title>About Shinchan</title>
		<style type="text/css">a{text-decoration:none}</style>
	</head>
	<body>
		<h2>About Shinchan</h2>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<div class="w3-container">
			<div class="w3-bar w3-white w3-border w3-border-green w3-round-large w3-large">
				<a href="dashboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Dashboard</a>
				<a href="profile" class="w3-bar-item w3-button w3-hover-green" target="_self">Profile</a>
				<a href="leaderboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Leaderboard</a>
				<a href="login" class="w3-bar-item w3-button w3-right w3-hover-green" target="_self">Logout</a>
				<a href="leaderboard2" class="w3-bar-item w3-button w3-hover-green" target="_self">Overall Leaderboard</a>
				</div>
  		<br><br><br>
  		<h6><p>Crayon <b>Shinchan</b> is a Japanese manga series written and illustrated by <i>Yoshito Usui</i>. It follows the adventures of the five-year-old <b>Shinnosuke "Shin" Nohara</b> and his parents, baby sister, dog, neighbours, teachers and friends. It is set in <i>Kasukabe, Saitama Prefecture</i>.</p></h6>
  		<br>
  			<a href="quiz1" class="w3-button w3-white w3-border w3-border-green w3-hover-green w3-round-large w3-large" target="_self">Start</a>
		</div>
	</body>
</html>
