<html>
	<head>
		<title>Scorecard</title>
		<h2>Scorecard</h2>
		<style type="text/css">a{text-decoration:none}</style>
	</head>
	<body>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<div class="w3-container">
			<div class="w3-bar w3-white w3-border w3-border-green w3-round-large w3-large">
				<a href="dashboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Dashboard</a>
				<a href="profile" class="w3-bar-item w3-button w3-hover-green" target="_self">Profile</a>
				<a href="leaderboard" class="w3-bar-item w3-button w3-hover-green" target="_self">Leaderboard</a>
				<a href="leaderboard2" class="w3-bar-item w3-button w3-hover-green" target="_self">Overall Leaderboard</a>
				<a href="login" class="w3-bar-item w3-button w3-right w3-hover-green" target="_self">Logout</a>
  			</div>
  			<br><br><br>
  			{% with messages = get_flashed_messages() %}
    			{% if messages %}
						{% for message in messages %}
 							{{message}} <br> <br>
						{% endfor %}
        		    <br>
    	    {% endif %}
				{% endwith %}
		</div>
	</body>
</html>
